<div class="container booklists-wrapper">
  <h1 class="text-center">Books at Amazon</h1>
  <div class="row">
    <div *ngFor="let book of bookLists" class="col-md-4">
      <div class="media book-item">
        <div class="media-left media-middle book-image-wrapper">
          <a [routerLink]="['/detail', book.id]">
            <img class="media-object book-image" [src]="book.image_url" [alt]="book.title">
          </a>
        </div>
        <div class="media-body book-content-wrapper">
          <h4 class="media-heading"><a [routerLink]="['/detail', book.id]">{{book.title}}</a></h4>
          <p><a href="#">{{book.author}}</a></p>
          <p>{{book.category}}</p>
        </div>
      </div>
    </div>
  </div>
</div>